<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
        <!-- Specify the file to load -->
        <add key="filePath" value="xxx.tsv"/>
        <!-- Specify the file Encode -->
        <add key="fileEncode" value="Shift_JIS"/>
        <!-- Specify is there a table name -->
        <add key="hasTableName" value="0"/>
        <!-- Specify the table name that data load to -->
        <add key="tableName" value="xxx"/>
    </appSettings>
</configuration>